.shareIcon {
  width: 10px;
  height: 10px;
}

.shareButton {
  width: 12px;
  height: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 1px;
  margin-bottom: 2px;
  font-size: 11px;
  cursor: pointer;
  opacity: 0.8;
  user-select: none;
  padding: 2px 4px;
  border: 1px solid black;
  color: black;
  background: white;
}

.shareButton:hover {
  color: white;
  background: black;
}
