PORT=3180
REACT_APP_NAME=gcc³
REACT_APP_COPYRIGHT=© 2026 gcc3.com

# Links should be in the format of "Name=URL", separated by ';'.
# For example: "GitHub=https://github.com/gcc3;X=https://x.com/username"
REACT_APP_LINKS=gcc³=https://github.com/gcc3;lhypds=https://github.com/gcc3

# Enable search
REACT_APP_USE_SEARCH=true

# Enable realtime update
REACT_APP_USE_REALTIME=false

# Initial content
# `[category]` for load the first category.  
# `[categories]` for load all categories.  
# `[category]category_name:` for load a specific category, e.g. `REACT_APP_DEFAULT_CONTENT=[category]Life:`.  
# `[note]category_name:note_name` for load a specific note, e.g. `REACT_APP_DEFAULT_CONTENT=[note]Life:Note1`.  
# `category_name` and `note_name` should be exact the folder name and the file name.  
# To load the root folder or note in root folder, use `REACT_APP_DEFAULT_CONTENT=[category]__root__:` 
# or `REACT_APP_DEFAULT_CONTENT=[note]__root__:note_name`.
REACT_APP_DEFAULT_CONTENT=[categories]
