PORT=3180
REACT_APP_NAME=gcc³
REACT_APP_COPYRIGHT=© 2026 gcc3.com

# Links should be in the format of "Name=URL", separated by ';'.
# For example: "GitHub=https://github.com/gcc3;X=https://x.com/username"
REACT_APP_LINKS=GitHub=https://github.com/gcc3

# Enable search
REACT_APP_USE_SEARCH=true

# Enable realtime update
REACT_APP_USE_REALTIME=false

# Default load
# `category` for load the first category.  
# `categories` for load all categories.  
# `category_name:` for load a specific category, e.g. `REACT_APP_DEFAULT_LOAD=Life:`.  
# `category_name:note_name` for load a specific note, e.g. `REACT_APP_DEFAULT_LOAD=Life:Note1`.  
# Use `__root__` for root-level notes, e.g. `REACT_APP_DEFAULT_LOAD=__root__:Note1`.
# `category_name` and `note_name` should be the folder name and the file name.  
REACT_APP_DEFAULT_LOAD=categories
