@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

:root {
  --sidebar-width: 220px;
}

body {
  font-family: "Fira Code VF", Helvetica, sans-serif;
  margin: 10px 10px 20px 10px;
  overscroll-behavior-y: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

a {
  color: black;
}

ul {
  padding-left: 14px;
}

ol {
  padding-left: 26px;
}

html {
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

h2,
h3 {
  font-size: medium;
}

.content-view,
.content-view p,
.content-view li,
.content-view a {
  overflow-wrap: anywhere;
  word-break: break-word;
}

p > code,
li > code,
dd > code,
td > code {
  background: #f6f6f6;
  word-wrap: break-word;
  box-decoration-break: clone;
  padding: 0.1rem 0.3rem 0.2rem;
  border-radius: 0.2rem;
}
