@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);
body {
  font-family: "Fira Code VF", Helvetica, sans-serif;
  margin: 10px 10px 20px 10px;
}
.wrapper {
  padding: 0px 5px 0px 0px;
}
.index {
  width: 180px;
}
.content {
  margin-left: 10px;
  width: calc(100% - 190px);
}
.wrapper-inline-block {
  box-sizing: content-box;
  font-size: 0;  
}
.wrapper-inline-block .index,
.wrapper-inline-block .content {
  display: inline-block;
  vertical-align: top;  
  font-size: 14px;
  box-sizing: border-box;
}
.index .tab {
  margin-left: 20px;
}
.index .subject {
  margin-top: 6px;
  text-decoration: underline !important;
  cursor: pointer;
}
a {
  color: black;
}
#btn-collapse-index-out {
  width: 10px;
}
#btn-collapse-index-in {
  width: 30px;
}
.btn-collapse-index {
  cursor: pointer;
}
#label-lab {
  display: inline;
  vertical-align: middle;
  border: 1px solid;
  border-color: gray;
  border-radius: 2px;
  font-size: 15px;
  padding: 1px;
}
ul {
  padding-left: 14px;
}
ol {
  padding-left: 26px;
}
html {
  scroll-behavior: smooth;
}