.loading {
  margin-top: 2px;
  font-weight: normal;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.categoryName {
  font-weight: bold;
  font-size: 14px;
  padding-top: 4px;
  padding-bottom: 18px;
}

.notes {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 2px;
}

.note {
  margin-bottom: 14px;
}

.noteAnchor {
  scroll-margin-top: 20px;
}

.categoryAnchor {
  scroll-margin-top: 20px;
}

.actions {
  margin-top: 14px;
  display: flex;
  gap: 6px;
}
